.DS_Store
*.bak
nvim.*
node_modules
configs/zed/prompts
.temp-slop/*
.env

# Pi local runtime state
configs/.pi/agent/*
!configs/.pi/agent/AGENTS.md
configs/.pi/agent/*/*
configs/.pi/pi-acp
configs/.pi/todos/*

# OpenCode
configs/opencode/service-*.json

# .acli
*/*/.acli_*

# Google agent skills
configs/.agents/skills/google-agents-cli*
_temp-slop/*

./configs/.pi/sessions
